.image-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(185px, 1fr));
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    padding: 0;
}

    .image-list figure img {
        width: 185px;
    }

    .image-list figure .selected {
        border: 2px solid #3a0647;
    }

.figure-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    height: 100%;
}

.figure-flex * {
    text-align: center;
}

.card-nav {
    display: flex;
    list-style-type: none;
    padding: 0;
}

.card-nav-item {
    margin: 0 5px;
}

.card-nav-link {
    text-decoration: none;
    padding: 8px 12px;
    border: 1px solid #3a0647;
    color: #3a0647;
    border-radius: 4px;
}

    .card-nav-link:hover {
        background-color: #3a0647;
        color: white;
    }

.card-nav-page {
    text-decoration: none;
    padding: 8px 12px;
    border: 1px solid #3a0647;
    color: #3a0647;
    border-radius: 7px;
}

.card-search-text {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.label-textbox {
    display: flex;
    flex-direction: column;
    width: 40%;
}

#card-search-filter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1rem;
}

#deck-display {
    display: flex;
    flex-direction: column;
    align-items: center;
}